@model IEnumerable<AllBooksViewModel>
@{
	ViewBag.Title = "All Books";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="text-center row">
	@foreach (var book in Model)
	{
		<div class="card col-4" style="width: 20rem; ">
			<img class="card-img-top" style="width: 18rem;"
				 src="@book.ImageURL" alt="Book Image">
			<div class="card-body">

				<a  asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">
					<i class="fa-solid fa-pen-to-square"></i>
				</a>
				<a  asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">
					<i class="fa-solid fa-trash"></i>
				</a>

				<h5 class="card-title mt-1">@book.Title</h5>
				<h4 class="card-title mt-1">@book.Author</h4>
				<p class="mb-0">Price: €@book.Price</p>
				<a asp-controller="Book" asp-action="Details" asp-route-Id="@book.Id">
					<input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
				</a>
			</div>
		</div>
	}
	
		<a href="/Book/AddBook" class="btn btn-sm" style="color: #234476">
			<input type="submit" value="Add new Book" class="fs-6 btn btn-success mb-3 p-2" />
		</a>
	
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>